<!DOCTYPE html>
<html>
  <head>
    <title>{{{title}}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/vinoteca.css">
  </head>
  <body>
    <header>
        <div class="holder">
            <img src="/images/vinoteca-logo-removebg-preview.png" alt="logo">
        </div>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
        <h2>Almacen de vinos</h2>
        <h3>Copyright from Llambi campbell-santafe © Diseñado: Emiliano Brizio - 17/11/2023</h3>
    </footer>
    <script src="https://kit.fontawesome.com/4ffb8edd00.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
